body {
font-family: 'Nunito Sans', sans-serif;
margin: 0;
margin: 0;
padding: 0;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
outline: 0;
border: 0;
padding: 13px 33px;
color: white;
 text-transform: uppercase;
left: 84.72%;
right: 8.68%;
top: 4.68%;
bottom: 93.92%;
font-family: "Nunito Sans" ;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
}

.logo {
    left: 6.39%;
    right: 81.13%;
    top: 4.68%;
    bottom: 94.05%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
} 

.header {
background-color: black;
}
.header-content {
display: flex;
justify-content: space-between;
height: 83px;
align-items: center;
}

.header-navigation {
list-style: none;
display: flex;
}

.header-navigation__item a {
margin-right: 47px;
text-decoration: none;
color: white;
left: 31.55%;
right: 64.42%;
top: 4.68%;
bottom: 94.05%;
font-weight: 400;
font-size: 11px;
line-height: 15px;
font-family: 'Nunito Sans';
font-style: normal;
}

.main-info__container {
display: flex;
justify-content: space-between;
position: relative;    
 }

.main-info__container__content {
width: 100%;
display: flex;
align-items: center;
background: url("../images/room.png") no-repeat;
background-size: cover;
height: 707px;
padding-top: 194px;
position: relative;
}

.main-info__container__wrapper {
height: 600px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 100px;
}

.main-info__container__wrapper::before {
content:"" ;
position: absolute;
 top: 0;
left: 0;
 right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .7);
}
   
.main-info__container__wrapper-title {
position: absolute;
left: 9.31%;
right: 43.74%;
top: 35.06%;
bottom: 51.65%;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}
    
.main-info__container__wrapper-subtitle {
position: absolute;
left: 9.31%;
 right: 55.69%;
top: 50.76%;
 bottom: 37.97%;   
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
}

.main-info__container__wrapper__button {
display: flex;
position: relative;
justify-content: space-between;
width: 440px;
z-index: 5;
}

.main-info__container__wrapper-title__rostov {
color: #e3b873;
}

.main-info__container__wrapper__button-button1 button {
background: #E3B873;
font-size: 11px;
font-style: italic;
color: #fff;
box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
border-radius: 2px;
border: #E3B873;
padding: 20px 33px;
text-transform: uppercase;
cursor: pointer;
}

.main-info__container__wrapper__button-button2 button {
background: transparent;
 font-size: 11px;
font-style: italic;
color: #fff;
box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
border-radius: 2px;
border: #E3B873;
padding: 13px 33px;
text-transform: uppercase;
cursor: pointer;
padding: 20px 33px;
border: 1px solid #fff;
}

.control-menu {
display: flex;
justify-content: flex-end;
margin: 0 11px 55px;
}

.control-menu__link000 {
color: #E3B873;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
padding-bottom: 6px;
margin-right: 60px;
}

.control-menu__link {
color: rgba(255, 255, 255, 0.3);
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
padding-bottom: 6px;
 margin-right: 60px;
}

h2 {
font-size: 27px;
 line-height: 37px;
}

.control-project__title {
left: 45.36%;
right: 60.52%;
 top: 51.84%;
bottom: 44.62%;
font-family: 'Yeseva One';
font-style: normal;
 font-weight: 400;
font-size: 33px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
}

.control-project__text {
left: 27.36%;
right: 65.96%;
top: 70.21%;
bottom: 38.18%;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
 color: #FFFFFF;
}

h4 {
font-family: Yeseva One, sans-serif;
font-weight: 400;
 padding: 0;
 margin: 0;
text-transform: uppercase;
line-height: 1.3;
display: block;
margin-block-start: 1.33em;
margin-block-end: 1.33em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

.control {
background: #131313;
}

.control-slayer__img {
position: absolute;
left: 46.8%;
top: 145.82%;
bottom: 22.32%;
}

.control-info__menu {
left: 27.36%;
right: 68.52%;
top: 50.48%;
bottom: 27.23%;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;
display: flex;
}

ul {
display: block;
padding: 0;
margin: 0;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

li {
display: block;
padding: 0;
margin: 0;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.control-info__text {
left: 27.36%;
right: 68.52%;
top: 71.48%;
bottom: 27.23%;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #FFFFFF;
}

.control-info {
display: block;
}

.control-info__title {
left: 27.36%;
right: 70%;
top: 64.08%;
bottom: 34.74%;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;
}

.control-info__menu {
display: flex;
margin: 36px 62px 0px 0px;
padding: 0px 0px 45px;
}

.control2 {
left: 27.36%;
right: 54.96%;
top: 57.21%;
bottom: 27.23%;
display: flex;
}

h3 {
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 60px;
}

.control--img {
left: 48.99%;
right: 80.73%;
top: 31.05%;
bottom: 67.84%;
padding-left: 650px;
}

.control--description {
left: 26.25%;
right: 26.32%;
top: 54.35%;
bottom: 40.5%;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 37px;
text-align: center;
color: #363636;
}

.projects__online-control__video {
-webkit-background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 70%;
height: 70%;
padding-left: 30%;
padding-top: 30px;
padding-bottom: 80px;
}

.projects__online-control__video-btn {
background: url(../images/plays.png) 100% 100% no-repeat;
background-size: cover;
width: 85px;
height: 85px;
position: absolute;
top: 174.5px;
left: calc(50% - 42.5px);
margin-top: 1550px;
}

.online-control__inner {
display: inline-block;
max-width: 817px;
padding: 0 22px;
}

.online-control__text {
position: relative;
padding-top: 20px;
padding-bottom: 35px;
font-family: FuturaBookC,sans-serif;
font-size: 20px;
line-height: 34px;
text-align: center;
color: #363636;
}

.online-control__form {
-webkit-box-pack: justify;
-ms-flex-pack: justify;
 justify-content: space-between;
padding-bottom: 33px;
}

.online-control__data {
padding-bottom: 150px;
font-family: FuturaBookC,sans-serif;
font-size: 16px;
line-height: 22px;
color: #181818;
}

.online-control__wrap {
-webkit-box-flex: 1;
-ms-flex: 1 1;
flex: 1 1;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
}

.online-control__input-title {
font-family: FuturaBookC,sans-serif;
font-size: 15px;
line-height: 20px;
color: rgba(54,54,54,.5);
}

.online-control__input {
width: 100%;
max-width: 231px;
padding: 8px 0;
font-family: FuturaBookC,sans-serif;
font-size: 18px;
line-height: 24px;
color: #363636;
border: 0;
border-bottom: 1px solid rgba(54,54,54,.3);
}

.online-control__btn {
padding: 20px 75px;
border: 0;
border-radius: 2px;
background: #e3b873;
-webkit-box-shadow: 0 15px 15px rgb(227 184 115 / 15%);
box-shadow: 0 15px 15px rgb(227 184 115 / 15%);
font-family: FuturaDemiC,sans-serif;
line-height: 26px;
text-transform: uppercase;
color: #fff;
left: 70.81%;
right: 23.26%;
top: 63.11%;
bottom: 34.89%;
background: #E3B873;
box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
border-radius: 2px;
}

.online-control__data {
padding-bottom: 150px;
font-family: FuturaBookC,sans-serif;
font-size: 16px;
line-height: 22px;
color: #181818;
}

.online-control-wrapper {
width: 1440px;
margin: 0 auto;
padding-top: 270px;
text-align: center;
margin-bottom: -88px;
}

.online-control__data-label {
position: relative;
padding-left: 27px;
cursor: pointer;
}

.types-of-repair__title {
padding-bottom: 20px;
font-family: Yeseva One,serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.types-of-repair-wrapper {
    padding-bottom: 200px;
}

.types-of-repair__logo {
    width: 28px;
    height: 28px;
    background: url(../images/repair2.svg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-left: 650px;
}

.types-of-repair__prices {
    display: webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 31px 30px 179px;
    padding-right: 50px;
}

.types-of-repair__price-list__title {
    margin-bottom: 20px;
    font-family: Yeseva One,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.types-of-repair__price-list {
    bottom: -27px;
    left: 73px;
    width: 100%;
    max-width: 330px;
    padding: 20px 30px 4px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
    box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
    position: absolute;
}

.types-of-repair__price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    position: relative;
    padding-bottom: 187px;
    text-align: left;
}

.types-of-repair__price__btn {
    position: absolute;
    bottom: 0;
    left: 118px;
    padding: 17px 21.5px;
    border: 0;
    font-family: Yeseva One,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e3b873;
    -webkit-box-shadow: 5px 5px 10px rgb(227 184 115 / 30%);
    box-shadow: 5px 5px 10px rgb(227 184 115 / 30%);
    margin-top: 70px;
}

.types-of-repair__price__item {
    font-family: FuturaBookC,sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
}