body {
margin: 0;
font-family: Nunito Sans, Arial;
margin: 0;
padding: 0;
}
body * {
    box-sizing: border-box;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}
.logo {
    color: #E3B873;
} 
.header {
    background-color: black;
}
.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item a {
    margin-right: 47px;
    text-decoration: none;
    color: white;
}
.hero {
    background-image: url("maket/images/hero.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-overlay {
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.title {
margin: 0;
padding: 0;
font-family: 'Yeseva One,' "Times New Roman", "Times", "serif";
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}